absl-py==2.0.0
astunparse==1.6.3
blinker
CacheControl==0.13.1
cachetools==5.3.2
certifi==2023.7.22
cffi
charset-normalizer==3.3.2
click
colorama
cryptography
firebase-admin
Flask
Flask-Cors
flatbuffers
gast==0.5.4
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-pasta
google-resumable-media
googleapis-common-protos
grpcio
grpcio-status
h5py
httplib2
idna
install
itsdangerous
Jinja2
joblib
keras
libclang
Markdown
MarkupSafe
ml-dtypes
msgpack
nltk
numpy
oauthlib
opt-einsum
packaging
proto-plus
protobuf
pyasn1
pyasn1-modules
pycparser
PyJWT
pyparsing
regex
requests
requests-oauthlib
rsa
six
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
tqdm
typing_extensions
uritemplate
urllib3
Werkzeug
wrapt
